[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/Users/denosawr/Documents/Programming/mcpi-scratch/installfiles/mcpi-scratch.png
Name=MCPi-Scratch Server
Icon=
